@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

/* Chat auth styles */
#SignUp{
  height: 100vh; 
  display: flex; 
  align-items: center; 
  justify-content: center;
}

#signCont{
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#signCont h4{
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-transform: uppercase;
  max-width: 3% auto;
}

#signCont input{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

#signCont button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }

#signCont button:hover,#signCont button:active,#signCont button:focus {
    background: #43A047;
}


/* chat styles */
header{
  background-color: #43A047;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1.2em;
  border-radius: 5px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: #2e3031;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sendMsg input{
  width: 700px;
  height: 7vh;
  border-radius: 5px;
  font-size: 18px;
}

#sendBtn {
	-moz-box-shadow: 0px 10px 14px -7px #3e7327;
	-webkit-box-shadow: 0px 10px 14px -7px #3e7327;
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
	background-color:#77b55a;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:18px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
#sendBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
	background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
	background-color:#72b352;
}
#sendBtn:active {
	position:relative;
	top:1px;
}

/* messages styles */
.messages{
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 500px;
}

.messWrap{ 
  max-width: 100%;
  font: normal 14px/normal "Courier New", Courier, monospace;
  margin: 1%;
  padding: 0.5% 5%;
  border: 2px solid #0b74c7;
  border-radius: 10px;
  color: white;
  background-color: #2196F3;
  word-wrap: break-word;
}

.userInfo p{
  text-align: right;
  padding: 0 5%;
  font-size: 20px;
}

.time{
  font-size: 11px;
  color: grey;
}
